<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.itwill.mapper.MyReplyMapper">
	<insert id="insertReply" parameterType="MyReply">
		<selectKey resultType="int" keyProperty="replyNo" order="BEFORE">
			select myreply_seq.nextval from dual
		</selectKey>
		insert into myreply values(#{replyNo}, #{replyId}, #{replyContent}, sysdate, #{replyCommentNo})	
	</insert>
	
	<select id="selectReplyList" resultType="MyReply">
		select reply_no, reply_id, reply_content, reply_date, reply_comment_no 
			from myreply order by reply_no desc
	</select>
	
	<resultMap type="MyReplyUser" id="myReplyUserResultMap1">
		<association property="reply" javaType="MyReply">
			<id column="reply_no" property="replyNo"/>
			<result column="reply_id" property="replyId"/>
			<result column="reply_content" property="replyContent"/>
			<result column="reply_date" property="replyDate"/>
			<result column="reply_comment_no" property="replyCommentNo"/>
		</association>
		<association property="user" javaType="MyUser">
			<id column="user_id" property="userId"/>
			<result column="user_name" property="userName"/>
		</association>
	</resultMap>
	
	<select id="selectReplyUserList1" resultMap="myReplyUserResultMap1">
		select reply_no, reply_id, reply_content, reply_date, reply_comment_no, user_id
			, user_name from myreply join myuser on reply_id=user_id order by reply_no desc
	</select>
	
	<resultMap type="MyReply" id="myReplyResultMap">
		<id column="reply_no" property="replyNo"/>
		<result column="reply_id" property="replyId"/>
		<result column="reply_content" property="replyContent"/>
		<result column="reply_date" property="replyDate"/>
		<result column="reply_comment_no" property="replyCommentNo"/>
	</resultMap>
	
	<resultMap type="MyReplyUser" id="myReplyUserResultMap2">
		<!-- resultMap : resultMap 엘리먼트의 식별자(id 속성값)를 속성값으로 설정 -->
		<!-- => association 엘리먼트가 resultMap 엘리먼트로 객체를 제공받아 필드에 저장 -->
		<!-- => resultMap 엘리먼트의 매핑 정보를 재활용 - 생산성 및 유지보수의 효율성 증가 -->
		<association property="reply" resultMap="myReplyResultMap"/>
		<!-- select 속성 : select 엘리먼트의 식별자(id 속성값)를 속성값으로 설정 -->
		<!-- => association 엘리먼트가 select 엘리먼트로 객체를 제공받아 필드에 저장 -->
		<!-- column 속성 : 검색행의 컬럼명을 속성값을 설정 -->
		<!-- => 검색행의 컬럼값을 select 속성값으로 설정된 SELECT 명령에게 전달하여 사용되도록 제공 -->
		<association property="user" select="selectUser" column="reply_id"/>
	</resultMap>
	
	<!-- DAO 클래스의 메소드에서 사용하지 않고 association 엘리먼트에서 사용하기 위한 select 엘리먼트 -->
	<!-- => Interface 기반의 매퍼파일에서 select 엘리먼트에 대한 추상메소드를 미작성 -->
	<!-- => select 엘리먼트의 parameterType 속성값으로 하나의 행만 검색되도록 SELECT 명령 작성 -->
	<select id="selectUser" resultType="MyUser" parameterType="string">
		select user_id, user_name from myuser where user_id=#{replyId}
	</select>
	
	<select id="selectReplyUserList2" resultMap="myReplyUserResultMap2">
		select reply_no, reply_id, reply_content, reply_date, reply_comment_no 
			from myreply order by reply_no desc
	</select>
</mapper>









