<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BOOT</title>
<style type="text/css">
#header {
	height: 200px;
	border: 1px solid red;
	text-align: center;
}

#content {
	min-height: 600px;
	border: 1px solid green;
	text-align: center;
}

#footer {
	height: 200px;
	border: 1px solid blue;
	text-align: center;
}	
</style>
</head>
<body>
	<div id="header">
		<h2>페이지 머릿부</h2>
	</div>
	
	<div id="content">
		<h2>페이지 몸체부</h2>
	</div>
	
	<div id="footer">
		<h2>페이지 꼬릿부</h2>
	</div>
</body>
</html>