<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BOOT</title>
<style type="text/css">
table {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

.num { width: 50px; }
.wirter { width: 100px; }
.title { width: 300px; text-align: left; }
.date { width: 200px; }
.hit { width: 50px; }
</style>
</head>
<body>
	<h1>게시글 목록</h1>
	<hr>
	<table>
		<tr>
			<th class="num">번호</th>
			<th class="writer">작성자</th>
			<th class="title">제목</th>
			<th class="date">작성날짜</th>
			<th class="hit">조횟수</th>
		</tr>
		<tr th:each="board : ${boardList}">
			<td th:text="${board.num}"></td>
			<td th:text="${board.writer}"></td>
			<td th:text="${board.title}"></td>
			<td th:text="${board.createDate}"></td>
			<td th:text="${board.hit}"></td>
		</tr>
	</table>
</body>
</html>











